.blog{
    width: 100%;
    padding-top: 50px;

    &__title{
        width: 100%;
        height: 90px;
        display: flex;
        gap: 1000px;

        p{
            font-size: 40px;
        }
        button{
            width: 220px;
            height: 50px;
            border-radius: 50px;
            border: 1px solid rgba(69, 69, 69, 1);
            color: rgba(69, 69, 69, 1);
            background: fixed;
            cursor: pointer;
        }
    }
    &__cards{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        &__1{
            width: 420px;
            height: 456px;
            display: grid;
            justify-content: center;
            align-items: center;
            position: relative;

            &__vec{
                position: absolute;
                right: 30px;
                bottom: 80px;
            }
        }
    }
}