.footer{
    width: 100%;
    background-color: rgba(242, 242, 242, 1);
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    @media (max-width: 370px) {
        width: 360px;
    }

    &__logo{
        width: 300px;
        height: 350px;
        display: grid;
        align-items: center;

        div{
            display: flex;
            gap: 20px;
        }
    }

    &__forbuyers{
        width: 300px;
        height: 300px;
        display: grid;
        align-items: center;
        padding-top: 20px;

        strong{
            font-size: 24px;
        }
        p{
            font-size: 16px;
        }
    }
    &__pros{
        width: 450px;
        height: 300px;
        display: grid;
        padding-top: 20px;

        strong{
            font-size: 24px;
        }
        div{
            display: grid;
            grid-template-columns: auto auto;
            p{
                font-size: 16px;
                line-height: 35px;
            }
        }
    }
}