.nav{
    width: 100%;
    height: 161px;

    @media (max-width: 370px) {
        position: relative;
        width: 360px;
    }

    &__top{
        width: 100%;
        height: 20px;
        display: flex;
        gap: 460px;
        margin-bottom: 20px;

        @media (max-width: 370px) {
            display: none;
        }

        &__links{
            display: flex;
            gap: 20px;
            font-weight: 600;
            color: gray;
            font-size: 14px;

            p{
                cursor: pointer;
            }
        }

        &__call{
            display: flex;
            gap: 20px;
            font-weight: 600;
            color: gray;
            font-size: 14px;

            p{
                cursor: pointer;
            }
        }
    }

    &__mid{
        width: 100%;
        height: 54px;
        display: flex;
        gap: 30px;

        

        &__inps{
            width: 62%;
            height: 54px;
            padding-top: 4px;
            display: flex;
            gap: 15px;

            button{
                width: 153px;
                height: 50px;
                background-color: rgba(69, 69, 69, 1);
                font-size: 16px;
                color: white;
                display: flex;
                gap: 10px;
                padding: 15px 30px 15px;
                border-radius: 100px;
                border: 0px;
                cursor: pointer;

                @media (max-width: 370px) {
                    display: none;
                }
            }

            form{
                width: 626px;
                height: 50px;
                border: 1px solid;
                border-radius: 100px;
                padding-top: 5px;
                padding-left: 30px;
                display: flex;
                position: relative;

                @media (max-width: 370px) {
                    position: absolute;
                    top: 60px;
                    left: 0px;
                    width: 360px;
                }

                input{
                    width: 545px;
                    border: 0px;
                    font-size: 16px;
                    outline: 0px;
                }
                
                
            }

            &__btn{
                width: 30px;
                height: 50px;
                padding-top: 5px;
            }

            &__pros{
                width: 100%;
                height: 600px;
                background-color: white;
                position: absolute;
                top: 40px;
                left: 0px;
                z-index: 2;
                overflow: auto;
                border-radius: 0px 0px 100px 100px;
                

                div{
                    width: 600px;
                    height: 80px;
                    display: flex;
                    gap: 50px;
                    p{
                        font-size: 30px;
                        padding-top: 20px;
                    }
                }
            }
        }

        &__btns{
            width: 18%;
            display: flex;
            gap: 15px;
            padding-top: 10px;

            @media (max-width: 370px) {
                position: absolute;
                left: 220px;
                width: 50px;
                gap: 5px;
            }

            button{
                width: 66px;
                height: 40px;
                font-size: 12px;
                color: rgba(69, 69, 69, 1);
                background: fixed;
                border: 0px;
                cursor: pointer;
            }

            &__comp{
                width: 66px;
                height: 40px;
                font-size: 12px;
                color: rgba(69, 69, 69, 1);
                background: fixed;
                border: 0px;
                cursor: pointer;

                @media (max-width: 370px) {
                    display: none;
                }
            }
        }
    }
}