.shippay{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 50px 0px 50px;

    &__info{
        width: 530px;
        row-gap: 30px;
        position: relative;

        &__title{
            position: sticky;
            top: 0px;
            font-size: 64px;
            font-weight: 600;
            color: rgba(69, 69, 69, 1);
        }
    }
    &__text{
        width: 540px;
        font-size: 20px;
        color: rgba(69, 69, 69, 1);

        strong{
            font-size: 24px;
        }
        p{
            font-size: 20px;
        }
    }
}
